<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Citas del Médico</title>
  </head>
  <body>
    <br />
    <br />
    <div class="container">
      <div class="calendario">
        <app-weekly-calendar
          [appointments]="filteredAppointments"
        ></app-weekly-calendar>
      </div>

      <div class="doctor-appointments">
        <div class="filters">
          <h2>FILTROS</h2>
          <div>
            <label>Rango de Fechas:</label>
            <input
              type="date"
              [(ngModel)]="filters.startDate"
              class="form-control"
            />
            <input
              type="date"
              [(ngModel)]="filters.endDate"
              class="form-control"
            />
            <button class="btn btn-primary" (click)="applyFilters()">
              Filtrar por Fecha
            </button>
          </div>
          <div>
            <label>Cliente:</label>
            <input
              type="text"
              [(ngModel)]="filters.clientName"
              placeholder="Buscar por nombre del cliente"
              class="form-control"
            />
            <button class="btn btn-primary" (click)="applyFilters()">
              Filtrar por Cliente
            </button>
          </div>
          <div>
            <label>Estado:</label>

            <select [(ngModel)]="filters.status" class="form-control">
              <option value="">Todos</option>

              <option value="0">Pendiente</option>

              <option value="1">Completa</option>

              <option value="2">Cancelada</option>
            </select>

            <button class="btn btn-primary" (click)="applyFilters()">
              Filtrar por Estado
            </button>
          </div>
        </div>

        <div class="appointments-table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Pendiente</th>
                <th>Completa</th>
                <th>Cancelada</th>
                <th>Editar</th>
                <!-- Nueva columna -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of filteredAppointments">
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.date_time | date : "yyyy-MM-dd" }}</td>
                <td>{{ appointment.date_time | date : "HH:mm" }}</td>
                <td>
                  {{ appointment.client_name }}
                  {{ appointment.client_lastname }}
                </td>
                <td>
                  <!-- Mostrar el estado en texto -->

                  <span *ngIf="appointment.status === 0">Pendiente</span>
                  <span *ngIf="appointment.status === 1">Completa</span>

                  <span *ngIf="appointment.status === 2">Cancelada</span>
                </td>
                <td>
                  <button
                    class="btn btn-warning btn-sm"
                    [disabled]="appointment.status === 0"
                    (click)="updateStatus(appointment.id, 0)"
                  >
                    Pendiente
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-success btn-sm"
                    [disabled]="appointment.status === 1"
                    (click)="updateStatus(appointment.id, 1)"
                  >
                    Completa
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    [disabled]="appointment.status === 2"
                    (click)="updateStatus(appointment.id, 2)"
                  >
                    Cancelada
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-info btn-sm"
                    (click)="navigateToEditAppointment(appointment.id)"
                  >
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
