.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.calendar-hours-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  gap: 20px;
  width: 80%;
  flex-wrap: nowrap; /* Evita que los elementos se apilen mientras haya espacio */
}

.calendar-container,
.hours-container {
  flex: 1; /* Los hace ocupar el mismo espacio */
  min-width: 300px; /* Evita que sean demasiado pequeños */
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Dos columnas */
  gap: 10px;
}

.form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.data-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.data-container {
  flex: 1;
  min-width: 150px;
}

.mat-calendar {
  font-family: "Arial", sans-serif;
}

.selected-date-class {
  background-color: #3f51b5 !important;
  color: white !important;
  border-radius: 50%;
}
/* Contenedor para centrar el botón */
.form-button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin-top: 20px; /* Espacio entre el botón y el contenido anterior */
}

/* Botón de "Crear Cita" */
.form-button-container .btn {
  padding: 10px 20px;
  font-size: 16px;
}

/* Media query para pantallas estrechas */
@media (max-width: 768px) {
  .calendar-hours-container {
    flex-direction: column; /* Cambia a una columna */
    align-items: center;
  }

  .calendar-container,
  .hours-container {
    width: 100%; /* Ocupan todo el ancho disponible */
    min-width: unset; /* Permite reducir el tamaño en pantallas pequeñas */
  }
}
.not-authenticated-container {
  text-align: center;
  padding: 20px;
}

.not-authenticated-container h1 {
  font-size: 2rem;
  color: #63a5a4;
  margin-bottom: 10px;
}

.not-authenticated-container p {
  font-size: 1.2rem;
  color: #666;
}

.not-authenticated-container a.link {
  color: #63a5a4;
  font-weight: bold;
  text-decoration: none;
}

.not-authenticated-container a.link:hover {
  text-decoration: underline;
}
