.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.calendar-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.calendar-box {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Contenedor principal para el calendario y las horas */
.calendar-hours-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinear al inicio verticalmente */
  gap: 20px;
  width: 70%; /* Ajusta el ancho según sea necesario */
  height: 50%;
  flex-wrap: wrap; /* Permite que los elementos se apilen si no hay espacio suficiente */
}

.calendar-container {
  flex: 1; /* Ocupa una porción del espacio */
  min-width: 300px; /* Asegura un tamaño mínimo */
}

.hours-container {
  flex: 1; /* Ocupa una porción igual que el calendario */
  min-width: 300px; /* Asegura un tamaño mínimo */
}

.form-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  width: 100%;
  margin-top: 10px;
}

.mat-calendar {
  font-family: "Arial", sans-serif;
}

.selected-date-class {
  background-color: #3f51b5 !important; /* Color de fondo */
  color: white !important; /* Color del texto */
  border-radius: 50%; /* Hacerlo circular */
}
.data-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.data-container {
  flex: 1; /* Ocupa una porción igual que el calendario */
  min-width: 300px; /* Asegura un tamaño mínimo */
  height: 50%;
}
/* Media query para pantallas estrechas */
@media (max-width: 768px) {
  .calendar-hours-container {
    flex-direction: column; /* Apila los elementos en lugar de alinearlos en fila */
    align-items: center; /* Centra los elementos en pantallas estrechas */
  }

  .calendar-container,
  .hours-container {
    width: 100%; /* Asegura que ocupen todo el ancho disponible */
    min-width: unset; /* Elimina el tamaño mínimo en pantallas pequeñas */
  }
}
