.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.login-form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 350px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form .icon {
  width: 80px;
  height: 80px;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.login-form .btn {
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image-container img {
  max-width: 300px;
  max-height: 300px;
}

.error-text {
  font-size: 0.875rem;
  color: red;
}
a {
  pointer-events: auto; /* Asegúrate de que esto esté configurado */
  cursor: pointer;
}
