/* You can add global styles to this file, and also import other style files */
/* Primary Button Override */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html {
  background-color: #f8f9fa;
}

body {
  background-color: #f8f9fa;
}

.btn.btn-primary {
  background-color: #63a5a4; /* Nuevo color de fondo */
  border-color: #63a5a4; /* Asegura que el borde coincida */
  color: white; /* Asegúrate de que el texto sea legible */
}

.btn.btn-primary:hover {
  background-color: #558e8d; /* Color más oscuro al pasar el cursor */
  border-color: #558e8d; /* Borde para el estado hover */
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #4a7d7c; /* Color al hacer clic */
  border-color: #4a7d7c;
}
.spinner-border {
  color: #63a5a4; /* Cambia el color del spinner */
}

.spinner-border-sm {
  color: #63a5a4; /* Asegúrate de aplicar también a la versión pequeña */
}

/* Button Transitions */
.btn {
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

html,
body {
  height: 100%;
  background-color: #f8f9fa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
