<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina de mantenimiento</title>
  </head>

  <body>
    <div class="maintenance-container">
      <h1>Estamos trabajando en ello</h1>
      <p>
        Esta página se encuentra en mantenimiento y estará disponible
        próximamente.
      </p>
      <p>Gracias por tu paciencia.</p>
      <a href="/" class="btn">Volver al Inicio</a>
    </div>
  </body>
</html>
